/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--card-main-text-weight);
  /* Помни про переименование переменных 
	https://practicum.yandex.ru/trainer/frontend-developer/lesson/b4797d66-d6ea-4013-8766-9cfcbe96b7b6/?searchedText=font*/

  background-color: var(--background-color);
  color: var(--accent-color);

  background-image: /* var(--bckg-img), под вопросом*/
    repeating-linear-gradient(
      90deg,
      var(--lin-grad-stripes) 0,
      var(--lin-grad-stripes) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      var(--lin-grad-stripes) 0,
      var(--lin-grad-stripes) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(var(--lin-grad-evenly-start), var(--lin-grad-evenly-end));

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 25px;
  min-height: 327px;
  /*  height: 49vh; */
  margin: 100px 0;
  /* 	padding: 0 0 25px 0; */
  background-color: var(--background-color);
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--card-main-text-weight);
  border: 2px solid var(--accent-color);
}

.header__titles {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.header__title {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--heading-font-size);
}

.header__subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--accent-font-size);
}

.theme-menu__list {
  display: grid;
  row-gap: 14px;
  justify-content: start;
  align-content: center;
}

.theme-menu__button {
  position: relative;
  background: none;
  border: none;
  text-transform: uppercase;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0px;
  left: -15px;
  display: block;
  animation: arrow 0.5s ease-in-out infinite alternate-reverse;
  color: var(--alfa-chanel);
}

.theme-menu__button:disabled {
  pointer-events: none;
  color: var(--alfa-chanel);
}
.theme-menu__button:enabled {
  cursor: pointer;
}

.theme-menu__button:hover {
  color: var(--alfa-chanel);
  transition: color 0.3s ease;
}

.theme-menu__button:focus {
  color: var(--alfa-chanel);
  outline: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  margin-top: 1px;
  transition: width 300ms, background-color 0.3s;
}

.theme-menu__button:focus-visible::after {
  background-color: var(--alfa-chanel);
  color: var(--alfa-chanel);
  width: 100%;
}

@keyframes arrow {
  0% {
    padding: 0px;
  }
  100% {
    padding: 0 0 0 4px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: var(--background-color);
  /* width: clamp(0.875rem, 3.0625rem); */
  font-family: var(--main-font);
  font-weight: var(--card-main-text-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--accent-color);
  border-left: 2px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
}

.card__title {
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  background-color: var(--background-color);
  font-weight: var(--card-heading-text-weight);
  padding: 4px 10px 6px;
  font-size: var(--main-font-size);
  line-height: var(--heading-card-line-height);
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 2px solid var(--accent-color);
}

.img-label {
  position: relative;
}

.img-label__text {
  position: absolute;
  right: 11px;
  top: 19px;
  font-size: var(--accent-font-size);
  font-weight: var(--card-main-text-weight);
  font-family: var(--accent-font);
  color: var(--accent-color);
  text-transform: uppercase;
  text-shadow: 0px 0px 2px var(--background-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: thin var(--background-color)) or
    (-webkit-text-stroke: thin var(--background-color))
) {
  .img-label__text {
    -webkit-text-stroke: thin var(--background-color);
    /* thin тонкая линия свойства text-stroke */
  }
}

.card__content {
  display: flex;
  border-bottom: 2px solid var(--accent-color);
  /* border-right: 2px solid var(--accent-color);
  border-left: 2px solid var(--accent-color); */
  padding: 25px 25px 25px 25px;
  flex-direction: column;
  gap: 25px;
}

.card__content-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  gap: 7px;
}

.card__icon-button {
  border: none;
  background: none;
}

.card__like-button {
  border: none;
  background: none;
  width: 130px;
  height: 38px;
  /*  padding: 12.5px 37px; */
  border: 2px solid var(--accent-color);
  align-self: center;
}

.button__text {
  font-family: var(--accent-font);
  font-weight: var(--card-main-text-weight);
  font-size: var(--accent-font-size);
  line-height: var(--accent-line-height);
  color: var(--accent-color);
}

/* .like-icon{
	color:var(--accent-color);
} */

@media (width >= 1440px) {
  .page {
    max-width: 700px;
  }
}
