/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--card-main-text-weight);
  /* Помни про переименование переменных 
	https://practicum.yandex.ru/trainer/frontend-developer/lesson/b4797d66-d6ea-4013-8766-9cfcbe96b7b6/?searchedText=font*/
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: repeating-linear-gradient(
      90deg,
      var(--lin-grad-stripes) 0,
      var(--lin-grad-stripes) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      var(--lin-grad-stripes) 0,
      var(--lin-grad-stripes) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(var(--lin-grad-evenly-start), var(--lin-grad-evenly-end));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 25px;
  min-height: 327px;
  margin: 101px 0;
  background-color: var(--background-color);
  color: var(--accent-color);
  font-family: var(--accent-font);
  border: 2px solid var(--accent-color);
  font-weight: var(--card-main-text-weight);
}

.header__titles {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.header__title {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--heading-font-size);
  line-height: var(--heading-title-line-height);
}

.header__subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--accent-font-size);
  line-height: var(--accent-font-size);
}

.theme-menu__list {
  display: grid;
  gap: 8px;
  justify-items: start;
  padding: 0px 0 18px 21px;
}

.theme-menu__button {
  position: relative;
  background: none;
  border: none;
  text-transform: uppercase;
  font-size: var(--accent-font-size);
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0px;
  left: -15px;
  display: block;
  animation: arrow 0.5s ease-in-out infinite alternate-reverse;
  color: var(--alfa-chanel);
}

.theme-menu__button:disabled {
  pointer-events: none;
  color: var(--alfa-chanel);
}

.theme-menu__button:enabled {
  cursor: pointer;
}

.theme-menu__button:hover {
  color: var(--alfa-chanel);
  transition: 0.3s ease;
}

.theme-menu__button:focus {
  color: var(--alfa-chanel);
  outline: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 1px;
  transition: width 300ms, background-color 0.3s;
  /* for a smooth transformation of the element */
  /* transform for транформации: disrortion, rotation,displacement, scaling */
}

.theme-menu__button:focus-visible::after {
  background-color: var(--alfa-chanel);
  color: var(--alfa-chanel);
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: var(--background-color);
  /* width: clamp(0.875rem, 3.0625rem); */
  font-family: var(--main-font);
  font-weight: var(--card-main-text-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.card__title {
  background-color: var(--background-color);
  font-weight: var(--card-heading-text-weight);
  padding: 4px 10px 4px;
  font-size: var(--main-font-size);
  line-height: var(--heading-card-line-height);
  border-block-end: 2px solid var(--accent-color);
}

.card__img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: fill;
}

.img-label {
  position: relative;
}

.img-label__text {
  position: absolute;
  right: 11px;
  top: 22px;
  z-index: 2;
  font-size: var(--accent-font-size);
  font-weight: var(--card-main-text-weight);
  font-family: var(--accent-font);
  color: var(--accent-color);
  text-shadow: -1px -1px 0 var(--background-color),
    -1px 1px 0 var(--background-color), 1px -1px 0 var(--background-color),
    1px 1px 0 var(--background-color);
  mix-blend-mode: hard-light;
}

.drop-shadow {
  filter: drop-shadow(4px 4px 111px blue);
}

.blur {
  filter: blur(2px);
}

.sepia {
  filter: sepia(80%);
}

.grayscale {
  filter: grayscale(100%);
}

.contrast {
  filter: contrast(50%);
}

.brightness {
  filter: brightness(150%);
}

.multiple_filter {
  filter: sepia(100%) hue-rotate(0.2turn);
}

.upper-text {
  text-transform: uppercase;
}

.lower-text {
  text-transform: lowercase;
}

.card__content {
  display: flex;
  padding: 21px 25px 25px 25px;
  flex-direction: column;
  gap: 25px;
  border-block-start: 2px solid var(--accent-color);
}

.card__content-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  gap: 7px;
}

.card__icon-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.card__like-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 130px;
  height: 38px;
  border: 2px solid var(--accent-color);
  align-self: center;
  background-color: var(--background-color);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
  transition: 0.3s ease;
}

.card__like-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--blend-color);
  animation: unmove 0.5s ease-in-out forwards;
  mix-blend-mode: difference;
}

.card__like-button:hover::before {
  animation: move 0.5s ease-in-out forwards;
  background-color: var(--blend-color);
  mix-blend-mode: difference;
}

.button__text {
  font-family: var(--accent-font);
  font-weight: var(--card-main-text-weight);
  font-size: var(--accent-font-size);
  line-height: var(--accent-line-height);
  color: var(--accent-color);
}

.card__icon-button {
  height: 38px;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.card__icon-button:hover .heart .main-body {
  fill: var(--accent-color);
  transition: 0.3s 0.05s ease-in-out;
}

.card__icon-button .heart .main-body {
  fill: transparent;
  transition: 0.3s ease-in-out;
}

.card__icon-button:hover .heart .core {
  fill: var(--accent-color);
  transition: 0.3s ease-in-out;
}

.card__icon-button .heart .core {
  fill: transparent;
  transition: 0.3s 0.03s ease-in-out;
}

.card__icon-button:active .heart .main-body {
  fill: var(--heart-color);
  transition: 0.3s 0.05s ease-in-out;
}

.card__icon-button:active .heart .core {
  fill: var(--heart-color);
  transition: 0.3s ease-in-out;
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon.is-liked .heart {
  animation: scaling-heart 0.3s 0.1s ease-in reverse;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in reverse;
}

.like-icon.is-liked .heart .core {
  fill: var(--heart-color);
  transition: 0.3s ease-in-out;
}

.like-icon.is-liked .heart .main-body {
  fill: var(--heart-color);
  transition: 0.3s 0.05s ease-in-out;
}

.like-icon.is-liked .heart .contour {
  fill: var(--heart-color);
  transition: 0.3s 0.06s ease-in-out;
}

.like-icon .heart .contour {
  fill: var(--accent-color);
  transition: 0.1s linear;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 100px 0;
}

.footer__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--background-color);
  width: 306px;
  height: 84px;
  border: 2px solid var(--accent-color);
}

@keyframes scaling-heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes arrow {
  0% {
    padding: 0px;
  }
  100% {
    padding: 0 0 0 4px;
  }
}

@keyframes move {
  from {
    translate: -100% 0%;
  }

  50% {
    translate: 0% 0%;
  }
}

@keyframes unmove {
  from {
    translate: 0% 0%;
  }

  to {
    translate: -100% 0%;
  }
}

@supports (
  (text-stroke: thin var(--background-color)) or
    (-webkit-text-stroke: thin var(--background-color))
) {
  .img-label__text {
    -webkit-text-stroke: thin var(--background-color);
    /* thin тонкая линия свойства text-stroke */
  }
}

@media (width >= 1440px) {
  .page {
    max-width: 700px;
  }

  .footer__button {
    display: flex;
    flex-direction: row;
    width: 335px;
    height: 55px;
  }
}
