/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --background-color: rgba(255, 255, 255, 1);
  --accent-color: rgba(0, 0, 0, 1);
  --alfa-chanel: rgba(0, 0, 0, 0.6);
  --lin-grad-stripes: #d3d3d3;
  --lin-grad-evenly-start: #e7e7e7;
	--heart-color:rgba(255, 0, 0, 1);
  --lin-grad-evenly-end: #1a1a1a;
	--blend-color:rgba(255, 255, 255, 1);
  --card-main-text-weight: 400;
  --card-heading-text-weight: 700;
  --bckg-img: url(../images/white_background_375x667.png);
}

:root.theme-dark {
  --card-main-text-weight: 465;
  --card-heading-text-weight: 785;
  --background-color: rgba(0, 0, 0, 1);
  --accent-color: rgba(0, 204, 20, 1);
	--blend-color:rgba(0, 204, 20, 1);
	--heart-color:rgba(255, 0, 0, 1);
  --lin-grad-stripes: #000;
  --lin-grad-evenly-start: #007f0c;
  --lin-grad-evenly-end: #004306;
  --alfa-chanel: rgba(0, 204, 20, 0.6);
  --bckg-img: url(../images/black_background_375x667.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-main-text-weight: 465;
    --card-heading-text-weight: 785;
    --background-color: rgba(0, 0, 0, 1);
		--blend-color:rgba(0, 204, 20, 1);
    --lin-grad-stripes: #000;
		--heart-color:rgba(255, 0, 0, 1);
    --lin-grad-evenly-start: #007f0c;
    --lin-grad-evenly-end: #004306;
    --accent-color: rgba(0, 204, 20, 1);
    --alfa-chanel: rgba(0, 204, 20, 0.6);
    --bckg-img: url(../images/black_background_375x667.png);
  }
}
