/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --background-color: rgba(255, 255, 255, 1);
  --accent-color: rgba(0, 0, 0, 1);
  --card-main-text-weight: 400;
  --card-heading-text-weight: 700;
  --bckg-img: url(../images/white_background_375x667.png);
}

:root.theme-dark {
  --card-main-text-weight: 465;
  --card-heading-text-weight: 785;
  --background-color: rgba(0, 0, 0, 1);
  --accent-color: rgba(0, 204, 20, 1);
  --bckg-img: url(../images/black_background_375x667.png);
}

@media (prefers-color-scheme: dark) {
  /* это нужно для авто темы */
  :root {
    --card-main-text-weight: 465;
    --card-heading-text-weight: 785;
    --background-color: rgba(0, 0, 0, 1);
    --accent-color: rgba(0, 204, 20, 1);
    --bckg-img: url(../images/black_background_375x667.png);
  }
}
