/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable", "Arial", sans-serif;
  --accent-font: "Press Start 2P", "Arial", sans-serif;
  --card-main-text-weight: 400;
  --card-heading-text-weight: 700;
  --background-color: rgba(255, 255, 255, 1);
  --accent-color: rgba(0, 0, 0, 1);
}
